/* Test styles */

/* General styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

.hidden {
    display: none;
}

/* Header styles */

header {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

/* Main styles */

main {
    width: 30rem;
}

#game-area, #welcome-txt, #instructions-txt {
    border: 1px solid black;
    padding: 1rem;
}

#game-btns {
    display: flex;
    justify-content: space-around;
}

button {
    padding: 0.5rem;
    margin: 0.5rem;
}

#answer-btns button {
    display: block;
    width: 100%;
    margin: 0.5rem auto;
}

.green {
    background-color: lightgreen;
}

.red {
    background-color: red;
}

/* Footer styles */

footer {
    margin-top: auto;
    margin-bottom: 1rem;
}
