/* Test styles */
* {
    border: 1px solid grey;
}

/* General styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}

/* Header styles */

header {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

/* Main styles */

main {
    max-width: 33%;
}

#buttons {
    display: flex;
    justify-content: space-around;
}

/* Footer styles */

footer {
    margin-top: auto;
    margin-bottom: 1rem;
}
