/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS variables */

:root {
    --heading-font: "Audiowide", sans-serif;
    --primary-color: #D45179;
    --secondary-color: #3A5172;
    --text-color: #FFF;
    --shadow-color: #333;
}

/* General styles */
body {
    background-image: url(../images/ball-of-energy.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    margin: 0;
}

.hidden {
    display: none;
}

/* Header styles */

header {
    width: 100%;
    margin-bottom: 2rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    font-family: var(--heading-font);
    text-shadow: 3px 3px 3px var(--shadow-color);
    box-shadow: 0 2px 2px 0 var(--shadow-color);
}

/* Main styles */

main {
    width: 90%;
}

#game-area, #welcome-txt, #instructions-txt {
    border: 0.5rem solid var(--primary-color);
    border-radius: 1rem;
    box-shadow: 0 2px 2px 0 var(--shadow-color);
    padding: 1rem;
    font-family: "Noto Sans";
    background-color: var(--secondary-color);
    color: var(--text-color);
}

#game-btns {
    display: flex;
    justify-content: space-around;
}

button {
    padding: 0.5rem;
    margin: 0.5rem;
}

#answer-btns button {
    display: block;
    width: 100%;
    margin: 0.5rem auto;
}

.green {
    background-color: lightgreen;
}

.red {
    background-color: red;
}

/* Footer styles */

footer {
    margin-top: auto;
    margin-bottom: 1rem;
}
